NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54421
# supabase status で表示されるローカルのキーを設定する
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# openssl rand -hex 32 などで生成する
CRON_SECRET=
MAILPIT_URL=http://127.0.0.1:54424
RESEND_API_KEY=
MAIL_FROM=
